.chat {
  display: flex;
  flex-direction: column;
  width: 800px;

  &__message-form {
    display: flex;
    position: relative;
    margin-top: 10px;

    .input:focus,
    .button:focus {
      outline: none!important;
    }

    .input {
      flex: 1;
      padding: 10px;
      font-size: 1.2em;
      border: 2px solid #aeaeae;
      border-left: none;
      border-top: none;
      margin: 0 !important;
    }

    .button {
      font-size: 1.2em;
      padding: 10px 20px;
      background-color: #aeaeae;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      border: none;
    }
  }
}
