.container {
    position: fixed;
    border: 1px solid #333;
    box-shadow: 1px 2px 3px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;

    & > * {
        margin-bottom: 20px;
    }
}