$header-height: 50px;
$footer-height: 40px;

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  background-color: #f3f3f3;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 0 150px;
  font-weight: bold;

  .nav-link {
    color: #24435d;
    text-decoration: none;
    margin-left: 15px;
    text-decoration: underline;
    font-size: 20px;

    &:hover {
      color: #1c2a2e;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.main {
  margin-top: $header-height;
  // padding-bottom: $footer-height;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.footer {
  // position: absolute;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-height;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;

  .copyright {
    padding: 5px 10px;
    background-color: #444;
    color: #f3f3f3;
    font-weight: bold;
  }
}
