.wrapper {
  display: flex;
  flex-direction: column;

  & > * {
      margin-top: 30px;
  }

  button {
    padding: 5px 10px;
    background-color: #e1e1e1;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .user {
    width: 1200px;
    padding: 10px 20px;
    max-width: 600px;
    border: 2px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__info {
      max-width: 70%;
      width: 70%;
    }
  }
}
