.login {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 15px 30px;
    border: 2px solid #cecece;
    margin: auto;
    background: #fefefe;

    & > * {
        margin-top: 10px;
    }
}