.message {
    max-width: 255px;
    min-width: 150px;
    margin: 10px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    &__text {
      word-wrap: break-word;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__footer {
      display: flex;
      align-items: center;
      position: relative;

      .like {
        display: flex;
        align-items: center;
        padding: 3px 6px;
        font-size: 12px;
        margin-right: 7px;
        border-radius: 10px;
        font-weight: bold;
        cursor: default;
      }

      .date {
        font-size: 12px;
        font-weight: bold;
        margin-left: auto;
        order: 2;
      }
    }

    .material-icons {
      font-size: 16px;
      margin-right: 7px;
      cursor: pointer;
    }

    &__avatar {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin: 5px 10px 5px 0;
      float: left;
    }
  }


  .from-them {
    background: #eee;
    color: #333;
    align-self: flex-start;
    margin-left: 10px;

    .like {
      background-color: #fff;
      color: #333;
    }
  }